<%- include("partials/header") %>


<h2>Home</h2>
<% for(let i=0; i<postArray.length; i++){ %>

    

    <% let showTitle = postArray[i].title %>
    
    <h2 class="showtitle"> <%= showTitle %> </h2>

    
    
   <%  let showMessage = postArray[i].message %>

   <p class="content"> <%= showMessage.substring(0, 100) + " ..." %> 
   <a href="/posts/<%= showTitle %>">Read More</a>
   </p>
  

<% } %>




<%- include("partials/footer") %>